html,body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    height: 100vh;
    background-image: url(https://i.redd.it/xe7u98r50me41.jpg);
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(74, 114, 243);
    color: white;
}

main .message {
    align-self: flex-start;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #999999;
    max-width: 50%;
}

main .message .time {
    margin: .5rem 0 0 0;
    padding: .5rem 0 0 0;
    font-style: italic;
    border-top: 1px solid rgba(255, 255, 255, .5);
}

main .message.owner {
    align-self: flex-end;
    background-color: #444444;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
}
a{
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;

    &:hover {
        padding: 1.5rem;
        background-color: azure;
        color: rgb(0, 0, 0);        
    }
}
.profile{
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
